@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANYekanX-Regular.woff2') format('woff2');
}
