@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANYekanX-Bold.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANYekanX-Regular.woff2") format("woff2");
}
body {
  background-color: #1B1C1F;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: IRANYekanX, Arial, Helvetica, sans-serif;
}

.c-header {
  padding: 8px 0;
  background-color: #242629;
}

.c-header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media all and (min-width: 992px) {
  .c-header__grid {
    justify-content: flex-start;
  }
}

.c-header__links {
  align-items: center;
  display: flex;
  gap: 4px;
}
@media all and (min-width: 992px) {
  .c-header__links {
    margin-right: auto;
  }
}

.c-header__menu {
  display: none;
}
@media all and (min-width: 992px) {
  .c-header__menu {
    display: initial;
  }
}

.c-header__links__expander {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 992px) {
  .c-header__links__expander {
    opacity: 0.4;
    pointer-events: none;
  }
}

.c-header__mobile-menu {
  width: 72px;
}
@media all and (min-width: 992px) {
  .c-header__mobile-menu {
    display: none;
  }
}

.c-header__menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.c-movie {
  position: relative;
}

.c-movie__thumbnail {
  position: relative;
  padding-top: 141.44%;
}
.c-movie__thumbnail img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-movie__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.c-movie__title {
  font-size: 14px;
  line-height: 1.25;
}

.c-movie__en-name {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
  color: #9DA5B2;
}

.c-movie__release {
  font-size: 10px;
  line-height: 1.25;
  color: #9DA5B2;
}

.c-movie__excerpt {
  font-size: 13px;
  line-height: 1.4;
}

.c-movie__back {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.c-movie__back .c-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.c-movie__back .c-btn span {
  display: flex;
}

.c-movie__info {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.c-movie__res {
  display: none;
}
@media all and (min-width: 992px) {
  .c-movie__res {
    display: block;
  }
}

.c-movie--single .c-movie__info {
  width: 100%;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__info {
    width: auto;
  }
}
.c-movie--single .c-movie__title__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  vertical-align: middle;
  display: block;
  margin-top: 8px;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__title__name {
    font-size: 28px;
    line-height: 100%;
    margin-top: 0;
  }
}
.c-movie--single .c-movie__title__subname {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin: 8px 0;
  display: block;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__title__subname {
    margin: 2px 0 0;
  }
}

.c-movie__quality-switch {
  display: none;
}
@media all and (min-width: 992px) {
  .c-movie__quality-switch {
    display: initial;
  }
}
.c-movie__quality-switch .c-btn--switch {
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: IRANYekanX;
}
.c-movie__quality-switch .c-btn--switch span {
  display: flex;
}

.c-movie--single .c-movie__header {
  padding: 8px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__header {
    flex-wrap: nowrap;
  }
}
.c-movie--single .c-movie__sidebar {
  width: 100%;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__sidebar {
    width: 32%;
  }
}
.c-movie--single .c-movie__rating {
  display: flex;
  margin-left: auto;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__rating {
    margin-left: 0;
  }
}
.c-movie--single .c-movie__imdb {
  display: flex;
  align-items: center;
  gap: 4px;
}
.c-movie--single .c-movie__imdb span {
  font-weight: bold;
}
.c-movie--single .c-movie__imdb .c-movie__imdb__top {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  font-weight: 400;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__imdb .c-movie__imdb__top {
    font-size: 18px;
    line-height: 28px;
  }
}
.c-movie--single .c-movie__imdb .c-movie__imdb__rate {
  font-size: 18pxpx;
  line-height: 28px;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__imdb .c-movie__imdb__rate {
    font-size: 24px;
    line-height: 40px;
  }
}

.c-movie__links {
  display: flex;
  gap: 8px;
  order: -1;
  position: absolute;
  top: -58px;
}
@media all and (min-width: 992px) {
  .c-movie__links {
    order: 0;
    position: static;
    top: unset;
  }
}
.c-movie__links .c-btn--sm {
  background-color: #242629 !important;
}

.c-movie--single .c-movie__main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media all and (min-width: 992px) {
  .c-movie--single .c-movie__main {
    gap: 26px;
    flex-wrap: nowrap;
  }
}

.c-movie__player {
  width: 100%;
}
@media all and (min-width: 992px) {
  .c-movie__player {
    width: 66.8%;
  }
}

.c-movie__player__img {
  max-width: 100%;
}

.c-movie__player__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media all and (min-width: 992px) {
  .c-movie__player__bottom {
    flex-wrap: nowrap;
  }
}

.c-movie__player__troubleshoot {
  display: flex;
  align-items: center;
  gap: 4px;
  order: -1;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 12px;
}
@media all and (min-width: 992px) {
  .c-movie__player__troubleshoot {
    margin: 0;
    flex-grow: unset;
    order: 0;
    align-items: center;
  }
}
.c-movie__player__troubleshoot p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 5.25px;
  color: #9DA5B2;
}
@media all and (min-width: 992px) {
  .c-movie__player__troubleshoot p .icon {
    display: none;
  }
}

.c-movie__player__btns {
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

.c-movie__troubleshoot__btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding: 8px;
  color: #fff;
  background-color: #242629;
  border-radius: 4px;
}

.c-movie__player__vpn {
  display: flex;
  background-color: #2E2217;
  gap: 8px;
  min-height: 44px;
  align-items: center;
  padding: 2px;
  border-radius: 8px;
  margin-top: 24px;
}
@media all and (min-width: 992px) {
  .c-movie__player__vpn {
    display: none;
  }
}

.c-movie__player__vpn__icon {
  background-color: #493018;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.c-movie__player__vpn__message {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}

.c-movie__player__vpn__button {
  min-width: 79px;
}

.c-movie__all-movies {
  margin-top: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: 0.12s;
}
.c-movie__all-movies:hover {
  opacity: 0.7;
}

.c-header {
  padding: 8px 0;
  background-color: #242629;
}

.c-header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media all and (min-width: 992px) {
  .c-header__grid {
    justify-content: flex-start;
  }
}

.c-header__links {
  align-items: center;
  display: flex;
  gap: 4px;
}
@media all and (min-width: 992px) {
  .c-header__links {
    margin-right: auto;
  }
}

.c-header__menu {
  display: none;
}
@media all and (min-width: 992px) {
  .c-header__menu {
    display: initial;
  }
}

.c-header__links__expander {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 992px) {
  .c-header__links__expander {
    opacity: 0.4;
    pointer-events: none;
  }
}

.c-header__mobile-menu {
  width: 72px;
}
@media all and (min-width: 992px) {
  .c-header__mobile-menu {
    display: none;
  }
}

.c-header__menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.c-nav {
  list-style: none;
  display: flex;
  gap: 16px;
}

.s-nav a {
  padding: 10px 8px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  transition: 0.12s;
}
.s-nav a:hover {
  background-color: #1a1b1d;
}

.c-btn {
  padding: 14px 16px;
  background-color: #242629;
  color: #fff;
  text-decoration: none;
}

.c-btn--sm {
  background-color: #1B1C1F;
  width: 48px;
  height: 48px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.12s;
}
.c-btn--sm:hover {
  opacity: 0.8;
}

.c-header__links .c-btn {
  display: none;
}
@media all and (min-width: 992px) {
  .c-header__links .c-btn {
    display: inline-flex;
  }
}
.c-header__links .c-btn--m-visible {
  display: inline-flex;
  order: -1;
  background-color: transparent;
}
@media all and (min-width: 992px) {
  .c-header__links .c-btn--m-visible {
    order: 0;
    background-color: #1B1C1F;
  }
}

.c-btn--player {
  padding: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.c-btn--red {
  background-color: rgba(171, 7, 15, 0.6);
}

.c-btn--orange {
  padding: 12px 11px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FB7800;
  border: 1px solid #FB7800;
  border-radius: 6px;
  white-space: nowrap;
  background-color: #1B1C1F;
}

.c-movie--list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}
.c-movie--list .c-movie__cover {
  width: 88px;
  min-width: 88px;
  height: 122px;
  position: relative;
}
.c-movie--list .c-movie__cover > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.c-movie--list .c-movie__cover .c-movie__cover__badges {
  display: flex;
  gap: 2px;
  position: absolute;
  left: 4px;
  bottom: 4px;
}
.c-movie--list .c-movie__content {
  flex-grow: 1;
}
.c-movie--list .c-movie__info-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.c-movie--list .c-movie__rate {
  display: flex;
  gap: 2px;
}
.c-movie--list .c-movie__rate__total, .c-movie--list .c-movie__rate__score {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.c-movie--list .c-movie__rate__total {
  opacity: 0.7;
  font-size: 13px;
  margin-left: 2px;
}
.c-movie--list .c-movie__rate__score {
  font-weight: 700;
}
.c-movie--list .c-movie__release {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  opacity: 1;
}
.c-movie--list .c-movie__info-grid--ratings {
  margin-top: 8px;
}
.c-movie--list .c-movie__imdb .c-movie__imdb__top {
  font-size: 12px;
  line-height: 1;
}
.c-movie--list .c-movie__imdb .c-movie__imdb__rate {
  font-size: 14px;
  line-height: 20px;
}
.c-movie--list .c-movie__imdb img {
  width: 20px;
  height: 20px;
}

.o-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: start;
}
@media all and (min-width: 768px) {
  .o-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 992px) {
  .o-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (min-width: 1120px) {
  .o-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.o-grid__no-item {
  width: 100%;
  background-color: #242629;
}

.o-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 2rem);
}
@media all and (min-width: 768px) {
  .o-container {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media all and (min-width: 992px) {
  .o-container {
    padding: 0;
    max-width: 950px;
  }
}
@media all and (min-width: 1120px) {
  .o-container {
    max-width: 1120px;
  }
}
@media all and (min-width: 1300px) {
  .o-container {
    max-width: 1200px;
  }
}

.o-container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 2rem);
}
@media all and (min-width: 768px) {
  .o-container-xl {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media all and (min-width: 992px) {
  .o-container-xl {
    padding: 0;
    max-width: 980px;
  }
}
@media all and (min-width: 1120px) {
  .o-container-xl {
    max-width: 1220px;
  }
}
@media all and (min-width: 1300px) {
  .o-container-xl {
    max-width: 1360px;
  }
}

.o-container-xl--no-padding-m {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
@media all and (min-width: 768px) {
  .o-container-xl--no-padding-m {
    max-width: 100%;
  }
}
@media all and (min-width: 992px) {
  .o-container-xl--no-padding-m {
    padding: 0;
    max-width: 980px;
  }
}
@media all and (min-width: 1120px) {
  .o-container-xl--no-padding-m {
    max-width: 1220px;
  }
}
@media all and (min-width: 1300px) {
  .o-container-xl--no-padding-m {
    max-width: 1360px;
  }
}

.o-pagination {
  margin-top: 2rem;
  text-align: center;
}

.o-pagination .page-numbers {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  background: #f3f3f3;
  color: #242629;
  border-radius: 5px;
  text-decoration: none;
}
.o-pagination .page-numbers:visited {
  color: #242629;
}

.o-pagination .page-numbers.current {
  background: #333;
  color: #fff;
}

.o-content-area {
  padding-top: 20px;
}
@media all and (min-width: 992px) {
  .o-content-area {
    padding-top: 50px;
  }
}

.o-content-area--single-movie {
  padding-top: 16px;
  padding-bottom: 24px;
}
@media all and (min-width: 992px) {
  .o-content-area--single-movie {
    padding-bottom: 32px;
  }
}