.o-content-area {
  padding-top: 20px;

  @include mq(laptop) {
    padding-top: 50px;
  }
}

.o-content-area--single-movie {
  padding-top: 16px;
  padding-bottom: 24px;

  @include mq(laptop) {
    padding-bottom: 32px;
  }
}
