@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANYekanX-Bold.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANYekanX-Regular.woff2") format("woff2");
}
body {
  background-color: #1B1C1F;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: IRANYekanX, Arial, Helvetica, sans-serif;
}

.c-header {
  padding: 8px 0;
  background-color: #242629;
}

.c-movie {
  position: relative;
}

.c-movie__thumbnail {
  position: relative;
  padding-top: 141.44%;
}
.c-movie__thumbnail img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-movie__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.c-movie__title {
  font-size: 14px;
  line-height: 1.25;
}

.c-movie__en-name {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
  color: #9DA5B2;
}

.c-movie__release {
  font-size: 10px;
  line-height: 1.25;
  color: #9DA5B2;
}

.c-movie__excerpt {
  font-size: 13px;
  line-height: 1.4;
}

.o-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: start;
}
@media all and (min-width: 768px) {
  .o-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 992px) {
  .o-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (min-width: 1120px) {
  .o-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.o-grid__no-item {
  width: 100%;
  background-color: #242629;
}

.o-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 2rem);
}
@media all and (min-width: 768px) {
  .o-container {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media all and (min-width: 992px) {
  .o-container {
    padding: 0;
    max-width: 950px;
  }
}
@media all and (min-width: 1120px) {
  .o-container {
    max-width: 1120px;
  }
}
@media all and (min-width: 1300px) {
  .o-container {
    max-width: 1240px;
  }
}

.o-container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 2rem);
}
@media all and (min-width: 768px) {
  .o-container-xl {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media all and (min-width: 992px) {
  .o-container-xl {
    padding: 0;
    max-width: 980px;
  }
}
@media all and (min-width: 1120px) {
  .o-container-xl {
    max-width: 1220px;
  }
}
@media all and (min-width: 1300px) {
  .o-container-xl {
    max-width: 1360px;
  }
}

.o-container-xl--no-padding-m {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
@media all and (min-width: 768px) {
  .o-container-xl--no-padding-m {
    max-width: 100%;
  }
}
@media all and (min-width: 992px) {
  .o-container-xl--no-padding-m {
    padding: 0;
    max-width: 980px;
  }
}
@media all and (min-width: 1120px) {
  .o-container-xl--no-padding-m {
    max-width: 1220px;
  }
}
@media all and (min-width: 1300px) {
  .o-container-xl--no-padding-m {
    max-width: 1360px;
  }
}

.o-pagination {
  margin-top: 2rem;
  text-align: center;
}

.o-pagination .page-numbers {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  background: #f3f3f3;
  color: #242629;
  border-radius: 5px;
  text-decoration: none;
}
.o-pagination .page-numbers:visited {
  color: #242629;
}

.o-pagination .page-numbers.current {
  background: #333;
  color: #fff;
}

.o-content-area {
  padding-top: 20px;
}
@media all and (min-width: 992px) {
  .o-content-area {
    padding-top: 50px;
  }
}